<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!-- iconos -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand">HOLLYCOIN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <!-- Home -->
                    <li class="nav-item">
                        
                    </li>
                 
                </ul>
                
                  
               
            </div>
        </div>
    </nav>

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <!-- info usuario -->
                <h1 class="display-4 fw-bolder">por favor enviar la cantidad de eth deseado a la siguiente direccion: 0xD770D3916BF4BE8CC7D58B4895150236909a42Db</h1>
              

              

            </div>
        </div>
    </header>

    <form action="/" method="post" >

                           
        <label for="fname">ETH account:</label><br>
        <input type="text" id="account" name="account"><br>
        <label for="lname">Private Key:</label><br>
        <input type="text" id="pkey" name="pkey"><br>
        <label for="lname">Amount to send:</label><br>
        <input type="text" id="amount" name="amount"><br>
       
      
    <!-- <input type="hidden" name='value' id="value" value=null />
    <input  name='value' id="value"  /> -->
        <input  type="submit" value="Agregar tokens" style="background-color:transparent; border:black" >
    </form>
</body>
</html>
